body {
    background-image: url("/images/Home1.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

.centered3{
    margin-top: 40vh;
    position: absolute;
    /* padding-top: 20vh; */
    margin-left: 25vw;
    transform: translate(-50%, -50%);
    color:rgb(218, 206, 129);
    font-size: 2.5rem;
    font-family: 'Dosis', sans-serif;
}
#app {
    overflow: auto;    
    max-height: 850px;
    max-width: 100%;
    width: 55vw;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.4);
}
#formPage {
    padding: 2vw;
}
 .infotitle {
    font-family: 'Dosis', sans-serif;
    margin-left: 14vw; 
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 3vw;
} 
.info {
    margin-left: 18vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info2 {
    margin-left: 23vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info3 {
    margin-left: 20vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info4 {
    margin-left: 3vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.firstline {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 6vw;
    margin-right: 6vw;
}
.secondline {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 6vw;
    margin-right: 6vw;
}
.info5 {
    margin-left: 15vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info6 {
    margin-left: 18vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info7 {
    margin-left: 19vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info8 {
    margin-left: 15vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.info9 {
    margin-left: 15vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
    padding-bottom: 4vh;
}
.gifts {
    padding: 6vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
  
.top-left {
    position: absolute;
    top: 2vh;
    left: 25rem;
    color: black;
    font-family: 'Dosis', sans-serif;
    /* margin-left: 14vw; 
    padding-top: 1vh;
    padding-bottom: 6vh; */
    
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}
.location {
    max-width: 40%;
}
.yesnoo {
    max-width: 25%;
}
.yesno {
    max-width: 25%;
}
.plusone {
    max-width: 80%;
}
.name {
    max-width: 80%;
}
.email{
    max-width: 50%;
}
/* Home Page Main Title */
.centered {
    position: absolute;
    top: 20vw;
    left: 55vw;
    transform: translate(-50%, -50%);
    color: rgb(218, 206, 129);
    font-size: 6vw;
    font-family: 'Dancing Script', cursive;
}
#links{
    display: flex;
    justify-content: space-between;
    
}

#rsvp{
    padding-left: 0;
}

.centerednav {
    position: absolute;
    top: 30vw;
    left: 35vw;
    /* transform: translate(-50%, -50%); */
    font-size: 3vw;
    font-family: 'Dosis', sans-serif;
    color: white;
}
#contact-form {
    margin-bottom: 1vw;
    letter-spacing: 1px;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
                                                                                                
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
.mainsub, .mainsub:focus, .mainsub:active, .mainsub:visted{
    color: black;
    letter-spacing: 3px;
    padding-left: 10%;
    text-decoration: none;
}
.nounder, .nounder:focus, .nounder:active, .nounder:visted{
    text-decoration: none!important;
}
#thanks {
    background-color: rgba(0,0,0,0)!important;
}