body {
    background-image: url("/images/Home1.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

.centered3{
    margin-top: 10%;
    position: absolute;
    /* padding-top: 20vh; */
    margin-left: 25vw;
    transform: translate(-50%, -50%);
    color:rgb(255,223,0);
    font-size: 3rem;
    font-family: 'Dosis', sans-serif;
}
#app {
    width: 50vw;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.4);
}
#formPage {
    padding: 2vw;
}
.test {
    padding: 4vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 750px;
    max-width: 100%;
}
.infotitle {
    font-family: 'Dosis', sans-serif;
    /* position: absolute; */
    margin-left: 11vw; 
    /* margin-top: 2rem; */
    padding-top: 6vh;
    font-size: 3vw;
} 
  
.top-left {
    position: absolute;
    top: 2vh;
    left: 25rem;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}
.location {
    max-width: 40%;
}
.yesnoo {
    max-width: 25%;
}
.yesno {
    max-width: 25%;
}
.plusone {
    max-width: 80%;
}
.name {
    max-width: 80%;
}
.email{
    max-width: 50%;
}
/* Home Page Main Title */
.centered {
    position: absolute;
    top: 20vw;
    left: 55vw;
    transform: translate(-50%, -50%);
    color: rgb(255,223,0);
    font-size: 6vw;
    font-family: 'Princess Sofia', cursive;
}
.mainsub{
    color: white;
}

.centerednav {
    position: absolute;
    top: 30vw;
    left: 35vw;
    /* transform: translate(-50%, -50%); */
    font-size: 3vw;
    font-family: 'Dosis', sans-serif;
    color: white;
}
#contact-form {
    margin-bottom: 1vw;
    letter-spacing: 1px;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

