body {
    background-image: url("/images/Home1.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 125vh;
    z-index: -10;
}

.centered3{
    margin-top: 10%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-size: 3rem;
}
#app {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.4);
}
#formPage {
    padding: 5vh;
}
.test {
    padding: 4rem;
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    overflow: auto;
    max-height: 900px;
    max-width: 100%;
}
.infotitle {
    font-family: 'Dosis', sans-serif;
    /* position: absolute; */
    margin-left: 11vw; 
    /* margin-top: 2rem; */
    padding-top: 2vw;
    font-size: 3vw;
}

.header {
    margin-bottom: 2em;
    text-align: center;
  }
  
  .footer {
    margin-top: 4em;
    text-align: center;
  }
  
.top-left {
    position: absolute;
    top: 8px;
    left: 25rem;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}
.location {
    max-width: 40%;
}
.yesnoo {
    max-width: 25%;
}
.yesno {
    max-width: 25%;
}
.plusone {
    max-width: 80%;
}
.name {
    max-width: 80%;
}
.email{
    max-width: 50%;
}
/* Home Page Main Title */
.centered {
    position: absolute;
    top: 20rem;
    left: 50rem;
    transform: translate(-50%, -50%);
    color: rgb(160, 44, 64);
    font-size: 6rem;
    font-family: 'Princess Sofia', cursive;
}

/* body {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
  } */

.centerednav {
    position: absolute;
    top: 55vh;
    left: 60vh;
    /* transform: translate(-50%, -50%); */
    font-size: 3rem;
    font-family: 'Dosis', sans-serif;
    

}
/* Home page subsite */
.centered2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-size: 5rem;
    font-family: 'Princess Sofia', cursive;
}
#contact-form {
    margin-bottom: 100px;
    letter-spacing: 1px;

}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

